@import "variables";

.ng-resizable-table {
  width: 100%;
  table-layout: fixed;
}

.ng-resizable-cell,
.ng-resizable-header-cell {
  overflow-x: hidden;
}

.ng-resizable-resize-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.ng-resizable-resize-handle {
  position: absolute;
  height: 100%;
  width: $handle-border-size;
  cursor: col-resize;
  z-index: 90;
}
