<div class="page">
  <div class="div-drag-bounds" #dragBounds id="dragBounds">
    <div class="div-resize-container"
         ngResizable
         rzHandles="n,s,e,w,se,sw,nw"
         ngDraggable
         ngClosable
         rzContainment="#dragBounds"
         [showMoveHandler]="true"
         [bounds]="dragBounds"
         [inBounds]="true"
         [rzMinWidth]="20"
         [rzMinHeight]="20"
         [scale]="1"
         [position]="{ x: 200, y: 400 }"
         [preventDefaultEvent]="true"
         style="width: 250px; height: 100px;"
    >
      <span>Adres Müşteri</span>
    </div>
    <div class="div-resize-container"
         ngResizable
         rzHandles="n,s,e,w,se,sw,nw"
         ngDraggable
         ngClosable
         rzContainment="#dragBounds"
         bounds="#dragBounds"
         [inBounds]="true"
         [rzMinWidth]="20"
         [rzMinHeight]="20"
         [scale]="2"
         [position]="{ x: 300, y: 300 }"
         [preventDefaultEvent]="true"
         style="width: 200px; height: 300px;"
    >
      <span>Müşteri Adı Soyadı</span>
    </div>
  </div>
</div>
