.page {
  width: 300mm;
  min-height: 297mm;
  height: 90vh;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
}

.div-drag-bounds {
  width: 210mm;
  height: 297mm;
  min-width: 210mm;
  min-height: 297mm;
  max-width: 210mm;
  max-height: 297mm;
  background-color: white;
  position: relative;
}

.div-resize-container {
  position: absolute;
  width: 200px;
  height: 50px;
  overflow: hidden;
  cursor: move;
  border: 1px solid #e8e7e7;
}

.div-resize-container:hover {
  border: 1px solid #22C39E;
}

.ng-resizable-handle {
  z-index: 90;
}

.ng-resizable-n, .ng-resizable-s {
  height: 9px;
}

.ng-resizable-e, .ng-resizable-w {
  width: 9px;
}
